Hi Admin,
       <br/>
       <p>  <br/>
	       Message : <%=@message%> <br/>
	       From: <%=@from%> <br/>
	       Name: <%=@name%> <br/>
	       Subject: <%=@subject%><br/>
       </p>
       <br/>
       
Thanks.