

<% unless @product_properties.empty? %>  

                       <% @product_properties.each do |product_property| %>

                      <span><%= product_property.property.presentation %>:&nbsp;</span><%= product_property.value %><br>

<% end %>
<% end %>
