<div id="content_oc">
            <div class="box_oc">
              <div class="box-heading">
                <h1 class="mijoshop_heading_h1">Lost password</h1>
              </div>
              <div class="box-content">
              
                <p>Done! Check your inbox for an email with a link to reset your password.</p>
 
                <p>You didn't get it? It may take a minute or two.</p>
                 
                <p>Check your spam folder and if you don't find it and don't forget to whitelist our email address!</p>
                 
                <p>If you haven't got it type your email in again or contact us at <a>info@wbsbooks.com</a></p><a>   
                
              </a></div><a>
            </a></div><a>
          </a>
          
</div>