<% @body_id = 'signup' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div data-hook="login_extras"></div>



    <div id="content_oc">
            <div class="box_oc">
              <div class="box-heading">
                <h1 class="mijoshop_heading_h1">My details</h1>
              </div>
             <%= form_for resource, as: :user, url: :spree_user_registration, html: { method: :put } do |f| %>
                <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
                  
             <% end %>
            </div>
    </div>