<% @body_id = 'signup' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div data-hook="login_extras"></div>


<div class="t3-content col-xs-12" id="t3-content">
  <div id="system-message-container" style="display: none;"></div>
  <div id="container_oc">
    <div id="content_oc">
      <div class="box_oc">
        <div class="box-heading">
          <h1 class="mijoshop_heading_h1">Register Account</h1>
        </div>


        <%= form_for resource, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
            
            <%= render :partial => 'spree/shared/user_form_new', :locals => { :f => f } %>


        <% end %>

      </div>
    </div>
  </div>
</div>