<% @body_id = 'signup' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div data-hook="login_extras"></div>


<div class="t3-content col-xs-12" id="t3-content">
        <div id="system-message-container" style="display: none;"> </div>
        <div id="container_oc">
          <div id="content_oc">
            <div class="box_oc">
              <div class="box-heading">
                <h1 class="mijoshop_heading_h1">Register Account</h1>
              </div>
              <div class="box-content">
                <p>If you already have an account with us, please login at the <a href="login.html">login page</a>.</p>
                  <div class="content_oc">
                  	<%= form_for resource, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
                    
				<%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>


                  </div>
                  <div class="buttons">
                    <div class="right">I have read and agree to the <a alt="Privacy Policy" href="#" class="colorbox cboxElement"><b>Privacy Policy</b></a>
                      <input type="checkbox" value="1" name="agree">
                      <%= f.submit Spree.t(:create), :class => 'btn btn-primary' %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>


