@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "selectize.wbsbooks";

@import "css-20eee";
@import "css-3ff05";
@import "css-a0890";
@import "css-fa76a";
@import "css1";
@import "fonts";
@import "klisha";
@import "site_style";
@import "products";
@import "cart";
@import "jquery.ui.all";

 #next {
  float: right;
  margin-top: -360px;
  margin-right: -20px;
 }
 #prev
 { 
    margin-top: -360px;
	margin-right: 840px;
	float: right;
 }
.owl-theme .owl-controls
{
 display:none;
}
