.edit_order, .cart-info {
  .line_item_quantity {
    display: inline-block !important;
    width: initial !important;
    width: 30px !important;
    min-width: 0 !important;
  }
  .cart-item-total {
    min-width: 100px;
  }
}