#breadcrumbs ul.inline {
	padding-left: 0; 
	li {
		list-style-type: none;
		display: inline;
		margin-top: 20px;
		color: #999;
		+ li:before {
			content: "/\00a0";
			padding: 0 5px;
			color: #cccccc;
		}
	}
}

.div-total {
	padding-bottom: 15px;
	padding-right: 20px;
}

.pag {
	text-align: center;
}

a.tsort{
	// text-decoration: underline;
}

input[type="submit"].bulk_search {
	margin-bottom: 0px;
}

.table-line td .tsort {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.table-line td .asc {
  background-image: url(/images/up_arrow.gif);
}

.table-line td .desc {
  background-image: url(/images/down_arrow.gif);
}