#breadcrumbs ul.inline {
	padding-left: 0; 
	li {
		list-style-type: none;
		display: inline;
		margin-top: 20px;
		color: #999;
		+ li:before {
			content: "/\00a0";
			padding: 0 5px;
			color: #cccccc;
		}
	}
}

.div-total {
	padding-bottom: 15px;
	padding-right: 20px;
}