// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.free-wall {
	margin: 15px 0px 15px 15px;
	width: 100%;
	display: block;
}
.brick h3 a {
	color: #333333;	
}
.brick h3 a:hover,
.brick h3 a:focus {
	color: #f0141e;
}
.brick {
	margin-right: 15px;
	margin-bottom: 15px;
	background-color: #FFFFFF;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: default;
	float: left;
	overflow: hidden;
	
	border: medium none;
	border-radius: 3px;
	
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	color: #333333;

	display: inline-block;
	opacity: 1; 
	width: 191.25px;
	height: auto;
}

.brick img {
	margin: auto;
	padding: 0px;
	display: block;
	max-width: 191.25px;
	vertical-align: middle;
}

.brick .info {
	padding: 15px;
	color: #333;
}

.feed_paging {
	margin-right: 150px;
	margin-left: 150px;
}