.product-filter {
  border-bottom:1px solid #EEEEEE;
  padding-bottom:5px;
  overflow:auto;

  .display {
    margin-right:15px;
    float:left;
    padding-top:4px;

    a {
      color: #ccc;
      background: none repeat scroll 0 0 #fff;
      border: 1px solid #ccc;
      box-shadow: -2px -2px 2px #f0f0f0 inset;
      display: inline-block;
      font-size: 18px;
      height: 30px;
      line-height: 25px;
      margin: 6px 3px 0 0;
      padding: 1px 5px;
      width: 31px;

      &.active {
        color: #000;
      }
    }
  }
  .display a {
    font-weight:bold
  }
  .sort {
    float:right
  }
  .limit {
    margin-left:15px;
    float:right
  }
}


.product-compare {
  padding-top:6px;
  margin-bottom:25px;
  font-weight:bold;

  a {
    text-decoration:none;
    font-weight:bold
  }
}


.product-list {
  margin: 0;
  > div {
    overflow:auto;
    margin-bottom:15px
  }
  .right {
    float:right;
    margin-left:15px
  }
  .left {
    float:none;
    width:auto
  }
  > div + div {
    border-top:1px solid #EEEEEE;
    padding-top:16px
  }
  .image {
    float:left;
    margin-right:10px
  }
  .image img {
    padding:3px;
    border:1px solid #E7E7E7
  }
  .name {
    margin-bottom:3px
  }
  .author {
    margin-bottom:10px
  }
  .name a {
    font-weight:bold;
    text-decoration:none
  }
  .description {
    line-height:15px;
    margin-bottom:5px
  }
  .price {
    height:50px;
    margin-left:8px;
    text-align:right;
    font-size:16px; 
      color: #f0141e;
  }
  .price-old {
    text-decoration:line-through
  }
  .price-tax {
    font-size:12px;
    font-weight:normal
  }
  .cartAdd {
    margin-bottom:3px
  }
  .wishlistAdd, .compare {
    margin-bottom:3px
  }
  .wishlistAdd a {
    text-decoration:none;
    padding-left:18px;
    display:block;
    background:url('/images/add.png') left center no-repeat
  }
  .compare a {
    text-decoration:none;
    padding-left:18px;
    display:block;
    background:url('/images/add.png') left 60% no-repeat
  }

  .image {
    text-align: center;
    line-height: 70px;
    img {
      max-height: 251px;
      vertical-align: middle;
    }
  }

  .price {
    float: right;
    width: 75px;
    height: 70px;
    line-height: 70px;
    text-align: center;
  }
  .product-item {
    padding: 10px;
  }
}

#column-left + #column-right + #content_oc .product-grid > div {
  width:125px
}

.product-grid {
  width:100%;
  overflow:auto;

  > div {
    display:inline-block;
    vertical-align:top;
    margin-right:20px;
    margin-bottom:15px
  }
  .imageInBook {
    display:inline-block;
  }
  .imageInBook img {
    padding:3px;
    border:1px solid #E7E7E7;
    width:150px;
  }
  .image {
    display:block;
    margin-bottom:0px
  }
  .image img {
    padding:3px;
    border:1px solid #E7E7E7
  }
  .name a {
    font-weight:bold;
    text-decoration:none;
    display:block;
    margin-bottom:4px;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    line-height: 1.666667;
    &:hover {
      background-color: transparent;
    }
  }
  .author a {
    text-decoration:none;
    display:block;
    margin-bottom:4px;
    font-size:12px;
    color: #000;
  }

  .description {
    display:none
  }
  .rating {
    display:block;
    margin-bottom:4px
  }
  .price {
    display:block;
    font-weight:bold;
    margin-bottom:4px
  }
  .price-old {
    text-decoration:line-through
  }
  .price-new {
    font-weight:bold
  }
  .price .price-tax {
    display:none
  }
  .cart {
    margin-bottom:3px
  }
  .wishlist, .compare {
    margin-bottom:3px
  }
  .wishlist a {
    text-decoration:none;
    padding-left:18px;
    display:block;
    background:url('/images/add.png') left center no-repeat
  }
  .compare a {
    text-decoration:none;
    padding-left:18px;
    display:block;
    background:url('/images/add.png') left center no-repeat
  }
}


.product-info {
  overflow:auto;
  margin-bottom:20px;

  > .left {
    float:left;
    width:38% !important
  }
  > .right {
    float:right;
    width:59% !important
  }
  .image {
    border:1px solid #E7E7E7;
    margin-bottom:20px;
    padding:10px;
    text-align:center
  }
  .image-additional {
    width:200px;
    margin-left:-10px;
    clear:both;
    overflow:hidden
  }
  .image-additional img {
    border:1px solid #E7E7E7
  }
  .image-additional a {
    float:left;
    display:block;
    margin-left:10px;
    margin-bottom:10px
  }
  .description {
    margin-bottom:10px;
    line-height:20px
  }
  .description span {
    
  }
  .description a {
    text-decoration:none
  }
  .price {
    overflow:auto;
    margin-bottom:10px;
    font-size:15px;
    font-size:250%;
  }
  .price-old {
    text-decoration:line-through
  }
  .price-old {
    font-size:50% !important; 
  }
  .price-tax {
    font-size:12px;
    font-weight:normal
  }
  .price .reward {
    font-size:12px;
    font-weight:normal
  }
  .price .discount {
    font-size:12px;
    font-weight:normal
  }
  .options {
    border-bottom:1px solid #E7E7E7;
    padding:0px 5px 10px 5px;
    margin-bottom:10px
  }
  .option-image {
    margin-top:3px;
    margin-bottom:10px
  }
  .option-image label {
    display:block;
    width:100%;
    height:100%
  }
  .option-image img {
    margin-right:5px;
    border:1px solid #CCCCCC;
    cursor:pointer
  }
  .cart {
    padding:0px 5px 10px 5px;
    margin-bottom:20px;
    overflow:auto
  }
  .cart div {
    float:left;
    vertical-align:middle
  }
  .cart div > span {
    padding-top:7px;
    display:block
  }
  .cart .minimum {
    padding-top:5px;
    font-size:11px;
    clear:both
  }
  .review {
    border-top:1px solid #E7E7E7;
    border-left:1px solid #E7E7E7;
    border-right:1px solid #E7E7E7;
    margin-bottom:10px
  }
  .review > div {
    padding:8px;
    border-bottom:1px solid #E7E7E7;
    line-height:20px
  }

  .review .share {
    overflow:auto;
    line-height:normal
  }
  .review .share a {
    text-decoration:none
  }
}

.product-grid .cart, .product-grid .wishlist, .product-grid .compare, .ja-product-grid .cart, .ja-product-grid .wishlist, .ja-product-grid .compare {
    bottom: 6px;
    display: none;
    overflow: hidden;
    height: 40px;
    margin-bottom: 0;
    position: absolute;
    width: 40px;
}
.product-grid .wishlist, .ja-product-grid .wishlist {
    right: 40px;
}
.product-grid .wishlist a, .product-grid .compare a, .ja-product-grid .wishlist a, .ja-product-grid .compare a {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;
}

.product-list .wishlist a, .product-list .compare a {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    color: #aaa;
    line-height: normal;
    margin-left: 10px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 38px;
}

.product-list .wishlist, .product-list .compare {
    float: left;
}
.product-list .wishlist, .product-list .compare {
    margin-bottom: 3px;
}

.product-list .cart {
    float: left;
    margin-bottom: 0;
}

.product-grid .cart, .ja-product-grid .cart {
    right: 1px;
}
.product-grid .cart .btn, .box-product .cart .btn, .cart .btn {
    background:url("/images/icon-cart.png") no-repeat scroll center center #f0141e;
    height: 40px;
    text-indent: -999em;
    width: 40px;
}
.product-grid .compare, .ja-product-grid .compare {
    right: 41px;
}
.product-grid > div:hover .cart, .product-grid > div:hover .wishlist, .ja-product-grid > div:hover .cart, .ja-product-grid > div:hover .wishlist {
    display: inline-block;
}
.mostviewed.product-grid .wishlist, .betseller.product-grid .compare, .betseller.product-grid .wishlist, .mostviewed.product-grid .compare {
    display: none !important;
}
.product-list .image {
    float: none;
    margin-right: 20px;
}
.product-list .image img {
    border: 0 none;
    max-width: 100%;
    padding: 0;
}
.product-list .left {
    padding-left: 15px;
    padding-right: 15px;
}
.product-list .cartAdd {
    float: left;
    margin-bottom: 0;
}
.product-list .cart .btn {
    background-image:url("/images/icon-cart.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    line-height: normal;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px;
}

.product-list .wishlist a {
    display:block;
}

.product-list .wishlist a:hover {
    color:#333;
}


.product-list .wishlistAdd, .product-list .compare {
    float: left;
}
.product-list .wishlistAdd a, .product-list .compare a {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    color: #aaa;
    line-height: normal;
    margin-left: 10px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 38px;
}
.product-list .wishlistAdd a:hover, .product-list .compare a:hover {
    color: #333;
}
.product-list > div {
    margin-bottom: 20px;
}
.product-list > div + div {
    padding-top: 20px;
}
.product-list .name a {
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
}
.product-list .name a:hover, .product-list .name a:focus, .product-list .name a:active {
    color: #3a859b;
}
.product-list .rating {
    margin-bottom: 10px;
}
.product-list .description {
    margin-bottom: 10px;
}
.product-filter {
    background: none repeat scroll 0 0 #f2f1ef;
    border: 1px solid #ddd;
    color: #666;
    line-height: 40px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0;
    line-height: 38px;
}
.product-filter .display, .product-filter .limit {
    margin: 0 20px;
    padding: 0;
}
.product-filter .display > a, .product-filter .display > span {

}


.product-item {
  .price {
    color: #f0141e;
    font-family: 'Roboto Slab';
    font-size: 14px;
  }
}

.cart-button-right {
  float: right;
  padding: 0 0 0 5px;
}

.cart-button-left {
  float: left;
  padding: 0 5px 0 0;
}