/* Steps */

.wizard a {
    padding: 10px 12px 10px;
    margin-right: 5px;
    background: #efefef;
    position: relative;
    display: inline-block;
	color:#333;
	width:24.36%;
}
@media (min-width: 768px) and (max-width: 979px) {
.wizard a {
	width:23.9%;
}	
.t3-mainbody {
	padding-top:200px;
}
}
@media (max-width: 767px) {
.wizard a {
	width:23.7%;
}	
.t3-mainbody {
	padding-top:300px;
}
.logo-image {
	text-align:center;
}
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}
.wizard .badge-w {
    margin: 0 5px 0 18px;
    position: relative;
    /*top: -1px;*/
}
.wizard a:first-child .badge-w {
    margin-left: 0;
}
.wizard .current {
    background: #f0141e;
    color: #fff;
}
.wizard .current:after {
    border-left-color: #f0141e;
}

/* Steps */


.m-l-5 {
	margin-left:5px !important;
}
.m-l-10 {
	margin-left:10px !important;
}
.m-b-20 {
	margin-bottom:20px !important;
}

/* quantity input */

span.quantity {cursor:pointer; }

.minus, .plus {
	width:10px;
	height:10px;
	background:#f2f2f2;
	border-radius:0;
	padding:8px 8px 7px;
	border:1px solid #ddd;
}
.input-quantity{
	height:24px;
	border:1px solid #ddd;
	border-radius:4px;
	padding:0 2px;
	display: inline-block !important;
	text-align:center;
}

/* quantity input */


.d-search {
	margin:15px 0;
}

.d-search .form-group {
	margin-right:15px;
}

.d-search button {
	padding:6px 12px;
}

/* login */

.login-wrap {
	margin-bottom: 60px;
}

.login-wrap .login {
max-width: 400px;
margin: 0 auto;
border: 1px solid #eeeeee;
}

.login-wrap .page-header {
padding: 20px;
}
.page-header {
border-color: #eeeeee;
}

.login-wrap .page-header h1 {
font-size: 15px;
text-transform: none;
color: #f0141e;
}

.login-description {
padding: 0 20px;
margin-bottom: 20px;
}

.login-wrap .login fieldset {
padding-top: 20px;
}

.other-links {
padding: 20px;
margin: 0;
border-top: 1px solid #eeeeee;
}

.other-links ul {
margin: 0;
padding: 0;
}

.other-links ul li {
list-style: none;
}

.green {
	color:#78AD3C;
}

.red {
	color:#D12C39;
}

.table-line {
	border-right:none !important;
	border-left:none !important;
}

.table-line thead td, .table-line tbody td {
	border-right:none !important;
}

.table-line td a {
	color:#000;
}

.table-line td a:hover {
	color:#f0141e;
}

.div-total label {
	font-size:150%;
	padding-right:5px;
}
.div-total input{
	margin-bottom:5px;
}

.d-search label {
	padding-right:5px;
}

.ul-about-us {
	list-style:disc;
}

.ul-about-us li {
	margin-bottom:15px;
}


.faq-content h2 { font-size: 18px; border-bottom:1px solid #F0141E; padding-bottom:10px; margin-top:40px;}
.faq-content h3 { font-size: 14px;}

.p-about-title {
	margin-top:35px;
    color: #333333;
    font-size: 18px;
    font-weight: 300;
}


.box-selectize input[type="text"] {
	height:32px;
	display: inline-block !important;
}