<!-- <div class="box_oc">
  <div class="box-heading">
    <h1 class="mijoshop_heading_h1">Bestsellers</h1>
  </div>
  <div class="box-content">
    <div class="product-grid row row-5">
      
        <div class="product-item-0">
          <div class="actions">
          <div class="image"><a href="book.html"><%= image_tag "01.png" %></a></div>
          <div class="cart">
            <input type="button" value="Add to Cart" class="btn btn-primary">
          </div>
            <div class="wishlist"><a title="Add to Wish List"><i class="fa fa-list"></i></a></div>
          </div>
          <div class="name"><a href="book.html">Inferno</a></div>
          <div class="author"><a href="book.html">Dan Brown</a></div>
          <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
          <div class="price"> $21.98</div>
      </div>
        
    </div>
  </div>
</div> -->