<!-- FOOTER -->
  <footer id="t3-footer" class="wrap t3-footer"> 
  
  <!-- FOOT NAVIGATION -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 footer-info">
        <div id="Mod145" class="t3-module module ">
          <div class="module-inner">
            <div class="module-ct">
              <div class="custom">
                <ul class="list-shipping">
                  <li class="shipping-item"><i class="fa fa-lightbulb-o "></i><span class="title">What's new?</span> <span class="desc">text</span></li>
                  <li class="exchange-item"><i class="fa fa-calendar"></i><span class="title">Coming soon</span> <span class="desc">text</span></li>
                  <li class="support-item"><i class="fa fa-flash"></i><span class="title">Special</span> <span class="desc">text</span></li>
                  <li class="support-item"><i class="fa fa-skype"></i><span class="title">Online support</span> <span class="desc">skype: wbsbooks</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 footer-links">
        <div id="Mod97" class="t3-module module subcribe-frm ">
          <div class="module-inner">
            <h3 class="module-title "><span>Sign Up for news and offers</span></h3>
            <div class="module-ct">
              <div id="acymailing_module_formAcymailing88911" class="acymailing_module subcribe-frm">
                <div id="acymailing_fulldiv_formAcymailing88911" class="acymailing_fulldiv">
                  <form>
                    <div class="acymailing_module_form row">
                      <div class="col-md-6"><span class="acymailing_introtext">Make sure you dont miss interesting happenings by joining our newsletter program.</span></div>
                      <div class="acymailing_form col-md-5">
                        <div class="row">
                          <div class="col-md-8 col-xs-8">
                            <p class="onefield fieldacyemail">
                              <label class="sr-only">E-mail</label>
                              <span class="acyfield_email">
                              <input type="text" value="" style="width:100%" class="inputbox">
                              </span> </p>
                          </div>
                          <div class="col-md-4 col-xs-4 acysubbuttons">
                            <input type="submit" value="Subscribe" class="button subbutton btn btn-red">
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- SPOTLIGHT -->
        <div class="t3-spotlight t3-footnav  row">
          <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div id="Mod100" class="t3-module module ">
              <div class="module-inner">
                <h3 class="module-title "><span>Information</span></h3>
                <div class="module-ct">
                  <div style="margin-bottom: 0px !important;" class="box_oc">
                    <div>
                      <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="news.html">Newsletter</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="faq.html">Help and Support</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <div id="Mod105" class="t3-module module menu-2col ">
              <div class="module-inner">
                <h3 class="module-title "><span>My Account</span></h3>
                <div class="module-ct">
                  <div style="margin-bottom: 0px !important;" class="box_oc">
                    <div>
                      <ul>
                        <li><a href="login.html">Login</a> / <a href="register.html">Register</a></li>
                        <li><a href="password_reset.html">Forgotten Password</a></li>
                        <li><a href="account.html">My Account</a></li>
                        <li><a href="wishlist.html">Wish List</a></li>
                        <li><a href="order_history.html">Order History</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-lg-3 col-md-3  col-sm-3 hidden-sm  col-xs-12">
            <div id="Mod99" class="t3-module module ">
              <div class="module-inner">
                <h3 class="module-title "><span>Location</span></h3>
                <div class="module-ct">
                  <div class="custom">
                    <p>Address: 2411 Any Street. Any Town. United Kingdom.</p>
                    <p>Mail to: <a href="mailto:support@yourstore.com">support@yourstore.com</a></p>
                    <p>Phone: +123 456 7890</p>
                      <p>Fax: +123 456 7890</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SPOTLIGHT --> 
      </div>
    </div>
  </div>
  <!-- //FOOT NAVIGATION -->
  
  <section class="t3-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8 copyright "> <small> Copyright © 2014 WBS Books Privacy Notice | Conditions of Use </small></div>
        <div class="col-md-4 poweredby"> <%= image_tag "payment_image_paypal.png" %> <%= image_tag "payment_image_maestro.png" %> <%= image_tag "payment_image_visa.png" %></div>
      </div>
    </div>
  </section>
</footer>
  <!-- //FOOTER --> 
