<!-- <div class="row m-b-20">              
	<div class="col-md-6">
		<%= image_tag "s1.png" %>
		<img src="images/s1.png" />
	</div>
	<div class="col-md-6">
		<%= image_tag "s4.png" %>
		<img src="images/s4.png" />
	</div>
</div> -->