<div class="input-group">
	<input id="fast_search" class="form-control" onkeydown="fast_search();" placeholder="<%= Spree.t(:search) %>"/>
	  <span class="input-group-btn">
	  <button class="btn btn-default"><i class="fa fa-search"></i></button>
	  </span>
</div>
