


<%= form_tag spree.products_path, :method => :get do %>
<div class="input-group">
	  <%= search_field_tag :keywords, params[:keywords], :class => 'form-control', :onfocus => "this.placeholder = ''", :onblur => "this.placeholder = '#{Spree.t(:search)}'",  :placeholder => Spree.t(:search) %>
	  <span class="input-group-btn">
	  <%= button_tag(type: "submit", :class => 'btn btn-default', :onClick => "javascript:window.location='search.html'", :name => nil) do %><span class="icon-search icon-white"></span><% end %>
	  </span>
</div>
<% end %>

