
     <!-- SIDEBAR LEFT -->


      <div class="t3-sidebar t3-sidebar-left col-xs-12 col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9  hidden-sm hidden-xs">
        <div class="t3-module module " id="Mod107">
          <div class="module-inner">
            <h3 class="module-title "><span>Categories</span></h3>
            <div class="module-ct">
              <div class="box_oc" style="margin-bottom: 0px !important;">
                <div>
                  <div class="box-category">
                    <%= yield :sidebar %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t3-module module  " id="Mod110">
          <div class="module-inner">
            <h3 class="module-title "><span>Publishers</span></h3>
            <div class="module-ct">
              <div class="box_oc" style="margin-bottom: 0px !important;">
                <div>
                  <div class="box-product">
                    <div>
                        <select class="form-control">
                            <option>All</option>
                            <option>Eksmo</option>
                            <option>Spring</option>
                            <option>Amazon</option>
                            <option>Ozon</option>
                        </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t3-module module " id="Mod107">
          <div class="module-inner">
            <h3 class="module-title "><span>Suggested titles</span></h3>
            <div class="module-ct">
              <div class="box_oc" style="margin-bottom: 0px !important;">
                <div>
                  <div class="box-category">
                    <ul>
                      <li> <a href="catalog.html">Audiobooks</a> </li>
                      <li> <a href="#">Business books</a> </li>
                      <li> <a href="#">Children and Parents</a> </li>
                      <li> <a href="#">Fiction</a> </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- //SIDEBAR LEFT --> 
