    <!-- AddThis Follow BEGIN -->
    <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
    <a addthis:userid="joomlart" class="addthis_button_facebook_follow at300b" href="http://www.facebook.com" target="_blank" title="Follow on Facebook"><span class=" at300bs at15nc at15t_facebook"></a>
    <a addthis:userid="joomlart" class="addthis_button_twitter_follow at300b" href="http://vk.com/" target="_blank" title="Follow on Twitter"><span class=" at300bs at15nc at15t_twitter"></span></a>
     <a addthis:userid="joomlart" class="addthis_button_google_follow at300b" title="Call to skype" href="#" target="_blank"><span class=" at300bs at15nc at15t_google_follow"></span></a>
      <div class="atclear"></div>
    </div>
    <!-- AddThis Follow END --> 