<div class="t3-content col-xs-12" id="t3-content">
        <div id="system-message-container" style="display: none;"> </div>
        <div id="container_oc">
          <div id="notification"></div>
          <div id="content_oc">
            <div class="box_oc">
              <div class="box-heading">
                <h1 class="mijoshop_heading_h1">About Us</h1>
              </div>
              <div class="box-content">
                <p class="p-about-title">INNOVATIVE COMPANY OFFERING RUSSIAN BOOKS, FROM THE ALL TIME CLASSICS UPTO THE LATEST RELEASES</p>
                <p> WBS Books - a new kind of wholesaler that has been created due to a growing interest for Russian Language books and Culture outside of Russia. Being part of the WBS Group, a reliable service can be offered through the strength of our people and our extensive knowledge. Our vision is that business should be a partnership, As a B2B business we develop together with our customers to sell not just to buy. The future of paper bookselling requires new ways to satisfy consumer’s needs: fast, simple, interactive, comprehensive, and competitive....</p>
                <p class="p-about-title">WRITTEN BY RUSSIAN AND INTERNATIONAL AUTHORS</p>
                <p>Our aim is to increase the popularity of great modern writers that should be known outside of Russia, and to continue to spread the work of the literary giants of Russia as well as the world’s most popular bestsellers. Suggested titles, extensive knowledge and support through WBS Books provide insight into this relatively unknown market place.</p>
                <p class="p-about-title">SUPPLYING FROM ALL PUBLISHERS, INCLUSIVE OF LARGE MAJOR’S TO THE SMALL INDEPENDENTS</p>
                <p>Integrated with well known large publishing houses such as Eksmo, AST, Azbuka Atticus and Olma, and developing possibilities together with independent publishers to provide the complete content for a growing audience.</p>
                <p class="p-about-title">FULL RANGE OF TITLES FROM POPULAR FICTION TO SPECIALIST INTERESTS</p>
                <p>Tailored and bespoke selections, we treat all our customers as individuals. We create and include relevant titles for their business needs. We supply all types of books such as: 
Fiction, Non-Fiction, Classics, Children’s, Art, Language learning, Academic, Hobbies, Trade, Science, Technology and Medical, Niche and Collectables...</p>
                <p class="p-about-title">WE BELIEVE THAT RUSSIAN BOOKS DESERVE TO BE READ OUTSIDE OF RUSSIA</p>
                <p>Globalisation increasingly has led to large numbers of Russian speakers living abroad. The Interest in modern Russia is growing all the time, the demand to learn the Russian language is vast. Access to Russian Books is now essential and traditional methods of acquiring books are no longer acceptable.We provide an up to date solution and choice for a demanding market.</p>
                <p class="p-about-title">24/7 EASY ORDERING AND WIDE CHOICE OF DELIVERY OPTIONS</p>
                <p>A unique website that never sleeps. It allows access to full information on Russian titles providing all Biblio data, live stock levels, full translated descriptions, bilingual navigation and interactive pricing. Ordering is simple, clear and comfortable like never before.</p>
                <p class="p-about-title">REAL TIME STOCK LEVELS AND INTERACTIVITY</p>
                <p>Electronic data feeds from a large number of sources, allowing our customers to have instant information at their finger tips. New titles are arriving daily and we intend soon to offer pre-release information and ordering possibilities. Modern business requires instant information, fast reactions to enable quick decisions. The human power behind our activity is our team - one with creativity, knowledge and experience. We are committed and believe that business should be personal. </p>
                <p class="p-about-title">DIRECTLY FROM RUSSIA TO ANY GLOBAL LOCATION</p>
                <p>Logistics is a key skill and one that our company has grown from - we are innovators within this sector. Doing business with Russia is often seen as uncharted territory. WBS Books understand and have great experience and knowledge that you can rely upon, we guarantee to remove the barriers and handle all of the administration and challenges of doing business with Russian product and services. The fresh range of freight services available by Road/Sea/Air, that deliver ‘just-in-time’ solutions to any place in the world, the added benefits of such dynamic models helps our customers save time and money through a variety of stock and warehousing cost savings.</p>
              </div>
            </div>
          </div>
        </div>
      </div>