<div class="t3-content col-xs-12" id="t3-content">
    <div class="contact" style="margin-bottom:150px;">
      <div class="contact-wrap clearfix">
        <div class="row">
          <div class="contact-col2 col-md-12 col-sm-12 col-xs-12">
            <h4><%= Spree.t(:contact_us) %></h4>
            <hr style="border-color:#000">
      <div  class="contact-col2 col-md-4 col-sm-4 col-xs-12">
              <div>
                <address>
                  <strong>WBSBooks – Great Britain – London</strong><br>
                    Paul Knight<br>
                  <abbr title="Phone">P:</abbr> +44(0)1268 574110<br>
                  <a href="mailto:#">paul.knight@wbsbooks.com</a>
                </address>
              </div>
            </div>
      <div  class="contact-col2 col-md-4 col-sm-4 col-xs-12">
              <div>
                <address>
                  <strong>WBSBooks – Russia – St. Petersburg</strong><br>
                    Dmitry Aleksenko<br>
                  <abbr title="Phone">P:</abbr> +7 985 6962529<br>
                  <a href="mailto:#">dmitry.aleksenko@wbsbooks.com</a>
                </address>
              </div>
            </div>
      <div  class="contact-col2 col-md-4 col-sm-4 col-xs-12">
              <div>
                <address>
                  <strong>WBSBooks – Russia – Moscow</strong><br>
                    Ekaterina Vorobyeva<br>
                  <abbr title="Phone">P:</abbr> +9 919 4109960<br>
                  <a href="mailto:#">ekaterina.vorobyeva@wbsbooks.com</a>
                </address>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>      
      </div>