 <div class="t3-content col-xs-12" id="t3-content">
        <div id="system-message-container" style="display: none;"> </div>

<div class="row">
    <div class="col-sm-12">

        <h2>Help & Customer Service</h2>

        <div id="faq-content" class="faq-content">
        <div class="row">
            <div class="col-md-4">
            <h3>Most Frequently Asked</h3>
            <ol>
                <li><a href="#q11">What can I return?</a></li>
                <li><a href="#q12">When will I get my refund? </a></li>
                <li><a href="#q13">Does Wbsbooks offer replacements and exchanges?</a></li>
                <li><a href="#q14">What can I return?</a></li>
                <li><a href="#q15">When will I get my refund? </a></li>
                <li><a href="#q16">What can I return?</a></li>
                <li><a href="#q17">Does Wbsbooks offer replacements and exchanges? </a></li>
                <li><a href="#q18">When will I get my refund? </a></li>
            </ol>
            </div>
            <div class="col-md-4">
            <h3>About the Service</h3>
            <ol>
                <li><a href="#q5">Where are you located?</a></li>
                <li><a href="#q2">Where can I get support?</a></li>
                <li><a href="#q3">How long does it take to fix a problem?</a></li>
                <li><a href="#q1">What if I have a question?</a></li>
                <li><a href="#q4">Who can help me out?</a></li>
            </ol>
            </div>
            <div class="col-md-4">
            <h3>About the Company</h3>
            <ol>
                <li><a href="#q1">Who can help me out?</a></li>
                <li><a href="#q2">Where can I get support?</a></li>
                <li><a href="#q3">Where are you located?</a></li>
                <li><a href="#q4">What if I have a question?</a></li>
                <li><a href="#q2">Where can I get support?</a></li>
                <li><a href="#q5">How long does it take to fix a problem?</a></li>
            </ol>
            </div>
            <div class="col-md-12">            
            <h3>Couldn’t find the answer?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in mauris tempor purus accumsan dignissim. Morbi risus nisl, adipiscing vel sagittis sit amet, condimentum vitae lectus. Pellentesque nec eros nulla. Vivamus nec ligula dolor. In facilisis suscipit gravida. Nunc malesuada.</p>
            
            <button type="button" class="button subbutton btn btn-primary" data-toggle="collapse" data-target="#demo">
              Ask a question
            </button>

			<div id="demo" class="collapse" style="margin-top:25px;">
            <div class="contact"> 
            <div class="contact-wrap">
            
            
            <div class="row">
              <div class="contact-col2 col-md-12 col-sm-12 col-xs-12">
                <div class="contact-form">
                  <form id="contact-form" method="post" action="/askquestion">
                    <fieldset>
                      <legend>Send an email. All fields with an * are required.</legend>
                      <div class="control-group-header">
                        <div class="row">
                          <div class="control-contact clearfix col-xs-12 col-sm-12 col-md-3">
                            <label class="hasTooltip required" title="">Name<span class="star">&nbsp;*</span></label>
                            <input value="" size="30" type="text" name="question_name">
                          </div>
                          <div class="control-contact clearfix col-xs-12 col-sm-12 col-md-3">
                            <label class="hasTooltip required" title="">Email<span class="star">&nbsp;*</span></label>
                            <input  class="validate-email" value="" name="question_mail" size="30" required aria-required="true" type="email">
                          </div>
                        </div>
                        <div class="control-contact clearfix">
                          <label class="hasTooltip required" title="">Subject<span class="star">&nbsp;*</span></label>
                          <input value="" size="60" required aria-required="true" name="question_subject" type="text">
                        </div>
                        <div class="control-contact clearfix">
                          <label class="hasTooltip required" title="">Message<span class="star">&nbsp;*</span></label>
                          <textarea cols="50" rows="10" required aria-required="true" name="question_message"></textarea>
                        </div>
                      </div>
                      <div class="control-group-footer clearfix">
                        <div class="control-group">
                          <input value="1" type="checkbox" name="question_send_copy">
                          <label data-original-title="<strong>Send copy to yourself</strong><br />Sends a copy of the message to the address you have supplied." id="jform_contact_email_copy-lbl" for="jform_contact_email_copy" class="hasTooltip" title="">&nbsp;Send copy to yourself</label>
                          <br>
                          <br>
                          <button class="btn btn-primary validate" type="submit">Send Email</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>    
        
            </div>
            </div>        
            </div>            
            </div>
            </div>


            <h2>Most Frequently Asked</h2>
            <h3 id="q11">What can I return? </h3>
            <p>You may return most new, unopened items sold and fulfilled by Wbsbooks within 30 days of delivery for a full refund.</p>
            <h3 id="q12">When will I get my refund?</h3>
            <p>You may return most new, unopened items sold and fulfilled by Amazon.com within 30 days of delivery for a full refund. </p>
            <h3 id="q13">Does Wbsbooks offer replacements and exchanges?</h3>
            <p>Yes, you can create replacement and exchange orders from this page by clicking Return Items and following the instructions. If you received a damaged or defective item, we'll ship you a replacement of the exact item. If you would like to exchange an item for another, you can exchange for a different size or color or for an item in your Cart. </p>
            <h3 id="q14">When will I get my refund? </h3>
            <p>Usually in about 2-3 weeks. Most refunds are fully refunded in 3-5 days after we receive and process your return. </p>
            <h3 id="q15">What can I return?</h3>
            <p>Yes, you can create replacement and exchange orders from this page by clicking Return Items and following the instructions. If you received a damaged or defective item, we'll ship you a replacement of the exact item. If you would like to exchange an item for another, you can exchange for a different size or color or for an item in your Cart. </p>
            <h3 id="q16">Does Wbsbooks offer replacements and exchanges?</h3>
            <p>You may return most new, unopened items sold and fulfilled by Amazon.com within 30 days of delivery for a full refund. </p>
            <h3 id="q17">When will I get my refund? </h3>
            <p>Yes, you can create replacement and exchange orders from this page by clicking Return Items and following the instructions. If you received a damaged or defective item, we'll ship you a replacement of the exact item. If you would like to exchange an item for another, you can exchange for a different size or color or for an item in your Cart. </p>
            <h3 id="q18">Does Wbsbooks offer replacements and exchanges?</h3>
            <p>Usually in about 2-3 weeks. Most refunds are fully refunded in 3-5 days after we receive and process your return. </p>


            <h2>About the Service</h2>
            <h3 id="q1">What can I return? </h3>
            <p>You may return most new, unopened items sold and fulfilled by Wbsbooks within 30 days of delivery for a full refund.</p>
            <h3 id="q2">When will I get my refund?</h3>
            <p>You may return most new, unopened items sold and fulfilled by Amazon.com within 30 days of delivery for a full refund. </p>
            <h3 id="q3">Does Wbsbooks offer replacements and exchanges?</h3>
            <p>Yes, you can create replacement and exchange orders from this page by clicking Return Items and following the instructions. If you received a damaged or defective item, we'll ship you a replacement of the exact item. If you would like to exchange an item for another, you can exchange for a different size or color or for an item in your Cart. </p>
            <h3 id="q4">When will I get my refund? </h3>
            <p>Usually in about 2-3 weeks. Most refunds are fully refunded in 3-5 days after we receive and process your return. </p>
            <h3 id="q5">What can I return?</h3>


            <h2>About the Company</h2>
            <h3 id="q1">What can I return? </h3>
            <p>You may return most new, unopened items sold and fulfilled by Wbsbooks within 30 days of delivery for a full refund.</p>
            <h3 id="q2">When will I get my refund?</h3>
            <p>You may return most new, unopened items sold and fulfilled by Amazon.com within 30 days of delivery for a full refund. </p>
            <h3 id="q3">Does Wbsbooks offer replacements and exchanges?</h3>
            <p>Yes, you can create replacement and exchange orders from this page by clicking Return Items and following the instructions. If you received a damaged or defective item, we'll ship you a replacement of the exact item. If you would like to exchange an item for another, you can exchange for a different size or color or for an item in your Cart. </p>
            <h3 id="q4">When will I get my refund? </h3>
            <p>Usually in about 2-3 weeks. Most refunds are fully refunded in 3-5 days after we receive and process your return. </p>
            <h3 id="q5">What can I return?</h3>
            <p>Usually in about 2-3 weeks. Most refunds are fully refunded in 3-5 days after we receive and process your return. </p>
            
        </div>
    </div>
</div>      
    
        
      </div>