<div id="content_oc">
            <div class="box_oc">
              <div class="box-heading">
                <h1 class="mijoshop_heading_h1">You are now Subscribed</h1>
              </div>
              <div class="box-content">

                <p>Thank-you!</p>
                
                <p>As a valued subscriber, you'll receive news of sales, promotions and special events from wbsbooks.com. In addition, you will receive saving coupons and exclusive online offers. There's always something exciting happening in the world of books at wbsbooks.com.</p>
                               
                <p>Stay connected with us.</p>

                  
              </div>
            </div>
          </div>